In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_excel("titanic.xlsx")

In [3]:
data.head()

,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked,home.dest,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,"St Louis, MO",1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,"Montreal, PQ / Chesterville, ON",1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,"Montreal, PQ / Chesterville, ON",0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,"Montreal, PQ / Chesterville, ON",0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,"Montreal, PQ / Chesterville, ON",0

In [4]:
bilet_sinifi=data['pclass']

In [5]:
bilet_sinifi.value_counts()

pclass
3    709
1    323
2    277
Name: count, dtype: int64

In [6]:
toplam_yolcu_sayisi=data.shape[0]
print(toplam_yolcu_sayisi)

1309

In [7]:
bilet_sinifi.value_counts('1')

pclass
3    0.541635
1    0.246753
2    0.211612
Name: proportion, dtype: float64

In [8]:
709+323+277==toplam_yolcu_sayisi

True

In [9]:
bos_sayisi=0
for i in range(toplam_yolcu_sayisi):
  if  bilet_sinifi[i] is None:
    bos_sayisi+=1

In [10]:
bos_sayisi=0
for i in range(toplam_yolcu_sayisi):
  if  np.isnan(bilet_sinifi[i]):
    bos_sayisi+=1

In [11]:
bilet_sinifi.isna().sum()

np.int64(0)

In [12]:
type(bilet_sinifi)

pandas.core.series.Series

In [13]:
bilet_sinifi.shape

(1309,)

In [14]:
bilet_sinifi=np.reshape(np.array(bilet_sinifi),(toplam_yolcu_sayisi,1))

In [15]:
t=0
for i in range(toplam_yolcu_sayisi):
  if data['pclass'][i]==1 and data['survived'][i]==1:
    t+=1

In [16]:
print(f'Birinci sinif yolcularin % {np.ceil(t/323*100)} \'ü yaşamıştır')

Birinci sinif yolcularin % 62.0 'ü yaşamıştır

In [17]:
t=0
for i in range(toplam_yolcu_sayisi):
  if data['pclass'][i]==3 and data['survived'][i]==1:
    t+=1

In [18]:
t=0
for i in range(toplam_yolcu_sayisi):
  if data['gender'][i]=='male' and data['survived'][i]==1:
    t+=1

In [19]:
print(f'Kadinlarin % {np.ceil(t/466*100)} \'ü yaşamıştır')

Kadinlarin % 35.0 'ü yaşamıştır

In [20]:
print(f'Erkeklerin % {np.ceil(t/843*100)} \'ü yaşamıştır')

Erkeklerin % 20.0 'ü yaşamıştır

In [21]:
toplam_kadin_sayisi=len(np.where(data['gender']=='female')[0])

In [22]:
toplam_kadin_sayisi=data['gender'].value_counts().get('female')

In [23]:
data['gender'].value_counts()

gender
male      843
female    466
Name: count, dtype: int64

In [24]:
cinsiyet=np.zeros(toplam_yolcu_sayisi)
cinsiyet[np.where(data['gender']=='male')[0]]=1

In [25]:
cinsiyet=np.zeros(toplam_yolcu_sayisi)
for i in range(toplam_yolcu_sayisi):
  if data['gender'][i]=='male':
    cinsiyet[i]=1

In [26]:
cinsiyet=np.reshape(cinsiyet,(toplam_yolcu_sayisi,1))

In [27]:
cinsiyet.shape

(1309, 1)

In [28]:
ortalama_yas=np.ceil(np.mean(data['age']))

In [29]:
np.mean(data['age'])

np.float64(29.8811345124283)

In [30]:
makul_yaslar=[]
for i in range(toplam_yolcu_sayisi):
  if data['age'][i]>1 or data['age'][i]<100:
    makul_yaslar.append(data['age'][i])

In [31]:
ort_yas=np.mean(makul_yaslar)

In [32]:
yas=np.zeros(toplam_yolcu_sayisi)
for i in range(toplam_yolcu_sayisi):
  if np.isnan(data['age'][i]) or data['age'][i]<1 or data['age'][i]>100:
    yas[i]=ort_yas
  else:
    yas[i]=data['age'][i]

In [33]:
yas=np.reshape(yas,(toplam_yolcu_sayisi,1))

In [34]:
data['sibsp'].value_counts()

sibsp
 0     891
 1     317
 2      42
 4      22
 3      20
 8       9
 5       6
-3       1
 71      1
Name: count, dtype: int64

In [35]:
makul_kardes_sayisi=[]
for i in range(toplam_yolcu_sayisi):
  if data['sibsp'][i]>=0 or data['sibsp'][i]<8:
    makul_kardes_sayisi.append(data['sibsp'][i])

In [36]:
ort_kardes=np.ceil(np.mean(makul_kardes_sayisi))

In [37]:
kardes=np.zeros(toplam_yolcu_sayisi)
for i in range(toplam_yolcu_sayisi):
  if np.isnan(data['sibsp'][i]) or data['sibsp'][i]>=0 or data['sibsp'][i]<8:
    kardes[i]=ort_kardes
  else:
    kardes[i]=data['sibsp'][i]

In [38]:
kardes=np.reshape(kardes,(toplam_yolcu_sayisi,1))

In [39]:
es=np.reshape(data['parch'],(toplam_yolcu_sayisi,1))

In [40]:
ucretler=[]
for i in range(toplam_yolcu_sayisi):
  if not np.isnan(data['fare'][i]):
    ucretler.append(data['fare'][i])

In [41]:
max_makul_ucret=np.mean(ucretler)+3*np.std(ucretler)

In [42]:
max_makul_ucret

np.float64(188.51211637875963)

In [43]:
ucret=np.zeros(toplam_yolcu_sayisi)
for i in range(toplam_yolcu_sayisi):
  if np.isnan(data['fare'][i]) or data['fare'][i]>max_makul_ucret or data['fare'][i]<0:
    ucret[i]=np.mean(ucretler)
  else:
    ucret[i]=data['fare'][i]

In [44]:
ucret=np.reshape(ucret,(1309,1))

In [45]:
yasamis_mi=np.reshape(np.array(data['survived']).astype(float),(1309,1))

In [46]:
temiz_data=np.concatenate((bilet_sinifi,cinsiyet,yas,kardes,es,ucret,yasamis_mi)
,axis=1)

In [47]:
ucret.shape

(1309, 1)

In [48]:
temiz_data_df=pd.DataFrame(temiz_data,columns=['bilet',
                                               'cinsiyet',
                                               'yas',
                                               'kardes',
                                               'es',
                                               'ucret',
                                               'yasamis_mi'])

In [49]:
temiz_data_df.head(10)

   bilet  cinsiyet        yas  kardes   es       ucret  yasamis_mi
0    1.0       0.0  29.000000     1.0  0.0   33.295479         1.0
1    1.0       1.0  29.881135     1.0  2.0  151.550000         1.0
2    1.0       0.0   2.000000     1.0  2.0  151.550000         0.0
3    1.0       1.0  30.000000     1.0  2.0  151.550000         0.0
4    1.0       0.0  25.000000     1.0  2.0  151.550000         0.0
5    1.0       1.0  48.000000     1.0  0.0   26.550000         1.0
6    1.0       0.0  63.000000     1.0  0.0   77.958300         1.0
7    1.0       1.0  39.000000     1.0  0.0    0.000000         0.0
8    1.0       0.0  53.000000     1.0  0.0   51.479200         1.0
9    1.0       1.0  71.000000     1.0  0.0   49.504200         0.0